.review {
    display: flex;
    flex-direction: row;
    height: 6rem;
    border-bottom: 4px solid #000;
}

.partial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f0eeed;
    border-right: 2px solid #000;
    border-radius: 8px;
    width: 17rem;
}

.name {
    margin: auto;
    font-size: 1.3rem;
    font-weight: bold;
}

.comment {
    overflow-wrap: break-word;
    overflow-y: scroll;
    margin: 1rem;
}
