.review {
    display: flex;
    flex-direction: row;
    min-height: 6rem;
    border-bottom: 4px solid #000;
}

.partial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #f0eeed;
    border-right: 2px solid #d9d6d4;
    border-radius: 8px;
    min-width: 17rem;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
}

.comment {
    overflow-wrap: break-word;
    margin: 1rem;
}
