.review {
    display: flex;
    flex-direction: row;
    height: 10rem;
    border-bottom: 4px solid #000;
    padding: 1rem;
}

.partial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid #000;
    width: 10rem;
    padding: 0 2rem;
}

.name {
    font-weight: bold;
}

.comment {
    overflow-wrap: break-word;
    overflow-y: scroll;
    margin: 1rem;
}
