.registrationContent {
    color: darkred;
    text-shadow: 0.05rem 0.05rem rgb(238, 229, 229);
    margin: auto;
    width: fit-content;
}

.registrationContent form {
    display: flex;
    flex-direction: column;
}

.regName {
    width: 20rem;
    height: 2rem;
}

.regPWD {
    width: 20rem;
    height: 2rem;
    margin: 1rem 3rem 1rem 0;
}

.regBtn {
    margin: 1rem 0 3rem 0;
    color: whitesmoke;
    font: inherit;
    text-align: center;
    cursor: pointer;
    background-color: darkred; 
    border: 1px solid darkred; 
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    width: 10rem;
}

.regBtn:hover {
    color: whitesmoke;
    border: 1px solid whitesmoke;
  }