.aboutUsNav {
    border-bottom: 3px solid red;
    height: 3.5rem;
    margin: auto;
    width: 70%;
}

.aboutUsMenu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    width: 60%;
    list-style-type: none;
}

.menuText {
    color: white;
    text-decoration: none;
}

.menuText:hover {
    color: goldenrod;
}
               
.menuText:focus {
    color: goldenrod;
}                    

       
