.mainHero {
    width: 100%;
    max-width: 100%;
}   

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../public/hero.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(100vw / (1440 / 600));
}

.heroText {
    text-align: center;
    margin: 0 auto;
    font-size:2vw;
    padding-bottom: 1rem;
}

.image {
  margin: 0 0 40px 0; 
  border: solid 3px rgb(107, 3, 3); 
  border-radius: 3px; 
  max-height: 40vh; 
  animation: fade-in 1s forwards 1;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

@media only screen and (max-width: 1640px) {
    .image  {
      max-height: 35vh
    }
    .heroText {   
      font-size:1.8vw;
      padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 1280px) {
  .image  {
    max-height: 20vh
  }
}