.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(#780000, #BB0000); 
    width: 100%;
    height: 8rem;
    padding: 0 10%;
  }
  
  .logo {
    position: absolute;
    left: 2rem;
    margin: 1rem 0;
    width: 6rem;
    height: 6rem;
    background-image: url("../../public/gm.png");
    background-size: contain;
  }
  
  .header ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #fff;
  }
  
  .login {
    position: absolute;
    right: 2rem;
  }