.mainHero {
    width: 100%;
    max-width: 100%;
}   

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../public/hero.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(100vw / (1440 / 600));
}

.heroText {
    text-align: center;
    margin: 0 auto;
    font-size:2vw;
}