.btn {
    text-decoration: none;
    cursor: pointer;
    font-size: smaller;
    background-color: lightgrey; 
    border: 1px solid lightgrey; 
    border-radius: 6px;
    padding: 0.4rem;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    width: 10rem;
  }

  .btn:hover {
    background-color: whitesmoke;
    border: 1px solid grey;
  }
  