
.cards {
  padding: 30px 0 80px 0;
}

.card-catagories {
      margin: auto;
      width: 80%;
}

.container li {
  text-align: center;
}

.cardList {
      display: flex;
      flex-direction: column;
}

