.loginContainer {
    margin: 5rem auto;
    width: fit-content;
    padding: 2rem 5rem 3rem 8rem;
    background-color: #d9d6d4;
    animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.error {
    color: darkred;
    animation: error 15s ease-in-out;
}

@keyframes error {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}
