.reviewContainer {
    min-height: 60vh;
}

.btnContainer {
    text-align: center;
    align-items: center;
}

.btn {
    padding: 10px;
    width: 7rem;
    font-weight: 600;
}

.reviewFormContainer {
    padding: 3rem;
}

.loginReview {
    display: flex;
    justify-content: center;
}

.loginReview a {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}

.loginReview a:hover {
    color: #fff;
}