.btnContainer {
    text-align: center;
    align-items: center;
}

.btn {
    padding: 10px;
    width: 7rem;
    font-weight: 600;
}

.reviewFormContainer {
    margin: 3rem;
}

.loginReview {
    display: flex;
    justify-content: center;
}

.loginReview a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.loginReview a:hover {
    font-size: 1.3rem;
}

.noReviews {
    text-align: center;
    margin: 3rem;
}

.noReviewTitle {
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
}

.message {
    text-align: center;
    color: lightgreen;
    animation: message 15s ease-in-out;
}

@keyframes message {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}